@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

:root {
    --verzul: #82fdc8;
    --verde: #7feb77;
}

body {
    background-image: linear-gradient(to right, var(--verzul), var(--verde));
}

/*nav {
    background-color: #ffffff;
    margin-bottom: 1.8vh;
    font-size: 1.5em;
    padding: 5px;
}*/

nav {
    background-color: #18940f;
    box-shadow: 0px 2px 6px #0000006e;    
    font-size: 1.2em;
    padding: 10px;
    border-radius: 0px 0px 14px 0px;
    position: fixed;
    overflow: auto;
    z-index: 99;
    
    top: 0;
}

nav > ul {
    list-style-type: none;
    
}

nav ul li a {
    color: #ffffff;
    display: inline-block;   
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 500ms;
}

nav ul li a.active {
    background-color: #1ba312;
}

nav ul li a:hover:not(.active) {
    background-color: #555;
    
}

main {
    background-color: #ffffff;
    margin: 0px 16vw;
    margin-top: 8vh;
    border-radius: 12px 12px 0px 0px;
    padding: 10px;
    list-style-position: inside;
}

footer > p > a {
    color: #001aff;
    text-decoration: none;
    
}

footer > p > a:hover {
    text-decoration: underline;
}

hr {
    display: none;
}